.nav_btn_link_container_mb {
  display: none;
}

.main_title_btn_wrap_mb {
  display: none;
}

.main_sec_img_wrap_mb {
  display: none;
}

.main_sec3_img_wrap_mb {
  display: none;
}

.main_sec_btn_wrap_mb {
  display: none;
}

.start_fade {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start_fade .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #00bfff4c;
  -webkit-animation: scal 1.5s infinite;
          animation: scal 1.5s infinite;
}

@-webkit-keyframes scal {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes scal {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
}

.container {
  display: none;
  width: 100%;
  height: 100%;
}

.container .navbar {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #f0f0f1;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.container .navbar .nav_container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .navbar .nav_container .nav_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .nav_container .nav_wrap .nav_link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4rem;
  height: 40px;
  line-height: 40px;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li {
  margin-right: 5.5rem;
  background: #fff;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li a {
  font-size: 1.5rem;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li.link_dropdown:hover .link_wrap {
  display: block;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li .link_wrap {
  position: absolute;
  top: 65px;
  border: 1px solid #f0f0f1;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li .link_wrap li {
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
  width: 200px;
  height: 65px;
  line-height: 65px;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li .link_wrap li:last-child {
  border: none;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li .link_wrap li:hover {
  background: #e6e6e6;
  font-weight: bold;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li .link_wrap li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 2.5rem;
}

.container .navbar .nav_container .nav_wrap .nav_link_container li .link_wrap li a:hover {
  color: #01bfff;
}

.container .navbar .nav_container .nav_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap {
  position: relative;
  z-index: 5;
  width: 170px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 170px;
  height: 48px;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_box.nav_main_bsc {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid #f0f0f1;
  border-radius: 5px;
  background-color: #fff;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_box.nav_main_bsc:hover {
  border: 1px solid #01bfff;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_box img {
  width: 54px;
  height: 54px;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_box h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_ethereum_wrap {
  position: absolute;
  top: 4.5rem;
  border: 1px solid #f0f0f1;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding-top: 1rem;
  display: none;
  background: #fff;
}

.container .navbar .nav_container .nav_main_container .nav_main_wrap .nav_main_ethereum_wrap.show {
  display: block;
}

.container .navbar .nav_container .nav_main_container .nav_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.container .navbar .nav_container .nav_main_container .nav_btn_container .nav_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 48px;
  line-height: 48px;
  border-radius: 48px;
  border: 1px solid #0099cb;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
          box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
  -webkit-animation: shadowe 3s linear infinite;
          animation: shadowe 3s linear infinite;
}

@-webkit-keyframes shadowe {
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
            box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 191, 255, 0.5);
            box-shadow: 0 0 10px 1px rgba(0, 191, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
            box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
  }
}

@keyframes shadowe {
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
            box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 191, 255, 0.5);
            box-shadow: 0 0 10px 1px rgba(0, 191, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
            box-shadow: 0 0 0 1px rgba(0, 191, 255, 0.5);
  }
}

.container .navbar .nav_container .nav_main_container .nav_btn_container .nav_btn p {
  width: 100%;
  height: 100%;
}

.container .navbar .nav_container .nav_main_container .nav_btn_container .nav_btn p a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0099cb;
}

.container .main {
  margin: 100px auto 0;
  width: 1200px;
}

.container .main .main_title {
  position: relative;
  padding: 20rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .main .main_title .main_title_text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main .main_title .main_title_text_wrap h1 {
  font-size: 4rem;
  line-height: 1.5;
  text-align: left;
}

.container .main .main_title .main_title_text_wrap h1 strong {
  font-weight: 600;
}

.container .main .main_title .main_title_text_wrap h1 strong span {
  color: #00bfff;
}

.container .main .main_title .main_title_text_wrap p {
  margin: 3.5rem 0 5.5rem 0;
  font-size: 1.9rem;
  line-height: 2;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn {
  width: 224px;
  height: 56px;
  border-radius: 56px;
  border: 1px solid #00bfff;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 191, 255, 0.5);
          box-shadow: 0 0 10px 3px rgba(0, 191, 255, 0.5);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn p {
  margin: 0;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn p a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 56px;
  color: #fff;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn:first-child {
  background: #00bfff;
  margin-right: 3rem;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn:last-child:hover a {
  background-position: 0 100%;
}

.container .main .main_title .main_title_text_wrap .main_title_btn_wrap .main_title_btn:last-child a {
  position: relative;
  display: inline-block;
  color: #000;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#00bfff), color-stop(50%, #00bfff), color-stop(50%, #000));
  background: linear-gradient(to right, #00bfff, #00bfff 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.container .main .main_title .main_title_img_wrap {
  width: 515px;
}

.container .main .main_title .main_title_img_wrap img {
  position: absolute;
  z-index: 1;
}

.container .main .main_title .main_title_img_wrap img:first-child {
  top: 110px;
  z-index: 30;
  -webkit-animation: sky 5s linear infinite;
          animation: sky 5s linear infinite;
}

@-webkit-keyframes sky {
  0% {
    top: 110px;
  }
  50% {
    top: 80px;
  }
}

@keyframes sky {
  0% {
    top: 110px;
  }
  50% {
    top: 80px;
  }
}

.container .main .main_title .main_title_img_wrap img:last-child {
  top: 300px;
}

.main_sec {
  min-height: 800px;
}

.main_sec .main_sec_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_sec .main_sec_title .main_sec_text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_number_text h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #00bfff;
  line-height: 1.4;
  margin: 0 2.5rem;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text h1 {
  font-size: 4rem;
  line-height: 1.5;
  text-align: left;
  font-weight: normal;
  color: #333;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text h1 strong {
  font-weight: 600;
  color: #333;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text h1 strong span {
  color: #00bfff;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text p {
  margin: 3.5rem 0 5.5rem 0;
  font-size: 1.9rem;
  line-height: 2;
  color: #333;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text .main_sec_btn_wrap .main_sec_btn {
  width: 224px;
  height: 56px;
  border-radius: 56px;
  border: 1px solid #00bfff;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text .main_sec_btn_wrap .main_sec_btn:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 191, 255, 0.5);
          box-shadow: 0 0 10px 3px rgba(0, 191, 255, 0.5);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text .main_sec_btn_wrap .main_sec_btn p {
  margin: 0;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text .main_sec_btn_wrap .main_sec_btn p a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 56px;
  color: #fff;
}

.main_sec .main_sec_title .main_sec_text_wrap .main_sec_text .main_sec_btn_wrap .main_sec_btn:first-child {
  background: #00bfff;
  margin-right: 3rem;
}

.main_sec .main_sec_img_wrap {
  width: 515px;
  position: relative;
}

.main_sec .main_sec_img_wrap img {
  position: absolute;
  z-index: 1;
}

.main_sec .main_sec_img_wrap img.fadein_down {
  width: 513px;
  bottom: 150px;
  left: 0;
  z-index: 10;
  -webkit-animation: down 10s linear infinite;
          animation: down 10s linear infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
    bottom: 150px;
  }
  25% {
    opacity: 1;
    bottom: 100px;
  }
  40% {
    bottom: 150px;
  }
  55% {
    bottom: 100px;
  }
  70% {
    bottom: 150px;
  }
  100% {
    bottom: -200px;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    bottom: 150px;
  }
  25% {
    opacity: 1;
    bottom: 100px;
  }
  40% {
    bottom: 150px;
  }
  55% {
    bottom: 100px;
  }
  70% {
    bottom: 150px;
  }
  100% {
    bottom: -200px;
  }
}

.main_sec .main_sec_img_wrap img.cover {
  top: 145px;
  z-index: 11;
}

.main_sec .main_sec2_img_wrap {
  position: relative;
  width: 430px;
}

.main_sec .main_sec2_img_wrap img {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.main_sec .main_sec2_img_wrap img.money {
  left: 30px;
  top: 130px;
  -webkit-animation: updown 3s linear infinite;
          animation: updown 3s linear infinite;
}

@-webkit-keyframes updown {
  0% {
    top: 130px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 130px;
  }
}

@keyframes updown {
  0% {
    top: 130px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 130px;
  }
}

.main_sec .main_sec2_img_wrap img:last-child {
  bottom: -30px;
  left: 0px;
}

.main_sec .main_sec3_img_wrap {
  width: 515px;
  position: relative;
  left: 0;
}

.main_sec .main_sec3_img_wrap img {
  position: absolute;
}

.main_sec .main_sec3_img_wrap img:nth-child(1) {
  right: 0;
  bottom: 230px;
}

.main_sec .main_sec3_img_wrap img:nth-child(2) {
  right: 30px;
  top: -100px;
  -webkit-animation: dalayUp 3s linear infinite;
          animation: dalayUp 3s linear infinite;
}

@-webkit-keyframes dalayUp {
  0% {
    top: -100px;
  }
  50% {
    top: -140px;
  }
  100% {
    top: -100px;
  }
}

@keyframes dalayUp {
  0% {
    top: -100px;
  }
  50% {
    top: -140px;
  }
  100% {
    top: -100px;
  }
}

.main_sec .main_sec3_img_wrap img:nth-child(3) {
  right: -10px;
  top: -100px;
  -webkit-animation: dalayDown 3s linear infinite;
          animation: dalayDown 3s linear infinite;
}

@-webkit-keyframes dalayDown {
  0% {
    top: -100px;
  }
  50% {
    top: -60px;
  }
  100% {
    top: -100px;
  }
}

@keyframes dalayDown {
  0% {
    top: -100px;
  }
  50% {
    top: -60px;
  }
  100% {
    top: -100px;
  }
}

.main_sec .main_sec3_img_wrap img:last-child {
  width: 515px;
  bottom: 0;
}

.main_grid h2 {
  color: #333;
  font-size: 4rem;
}

.main_grid h2 span {
  color: #00bfff;
}

.main_grid .main_grid_container {
  width: 100%;
  margin: 13rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
}

.main_grid .main_grid_container div {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 11rem;
}

.main_grid .main_grid_container div img {
  width: 100px;
  height: 90px;
}

.main_grid .main_grid_container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.8rem;
  margin-bottom: 0;
}

.main_grid .main_grid_container div div h3 {
  color: #333;
  font-size: 2.5rem;
  height: 90px;
  line-height: 90px;
}

.main_grid .main_grid_container div div p {
  color: #888;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -.5px;
}

.main_graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.main_graph h2 {
  font-size: 4rem;
}

.main_graph h2 span {
  color: #00bfff;
}

.main_graph div {
  text-align: center;
}

.main_graph div p {
  color: #333;
}

.main_graph .circle {
  border: 1px solid #00bfff;
}

.main_graph .main_graph_sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.main_graph .main_graph_sec1 .main_graph_sec1-1 {
  width: 220px;
  height: 220px;
  display: inline-block;
}

.main_graph .main_graph_sec1 .main_graph_sec1-1 .main_graph_circle {
  width: 220px;
  height: 220px;
  border-radius: 220px;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00bfff;
  background: #f7fbff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-1 .main_graph_circle p {
  font-size: 2rem;
  line-height: 1.5;
}

.main_graph .main_graph_sec1 .main_graph_sec1-2 {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_graph .main_graph_sec1 .main_graph_sec1-2 p {
  font-size: 1.6rem;
}

.main_graph .main_graph_sec1 .main_graph_sec1-2 div {
  height: 50px;
  line-height: 50px;
}

.main_graph .main_graph_sec1 .main_graph_sec1-2 .arrow-left {
  width: 230px;
  border-top: 2px dashed #00bfff;
  position: relative;
}

.main_graph .main_graph_sec1 .main_graph_sec1-2 .arrow-left::after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  left: -2px;
  border: 9px solid transparent;
  border-left-width: 0;
  border-right-color: #00bfff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-3 {
  width: 200px;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
}

.main_graph .main_graph_sec1 .main_graph_sec1-3 .main_graph_circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00bfff;
  background: #f7fbff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-3 .main_graph_circle p {
  font-size: 2rem;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 {
  width: 335px;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 p {
  font-size: 1.6rem;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 div {
  height: 50px;
  line-height: 50px;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 .arrow-left {
  border-top: 2px dashed #00bfff;
  position: relative;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 .arrow-left::after {
  content: ' ';
  height: 0;
  width: 0;
  top: -10px;
  left: 0;
  position: absolute;
  border: 9px solid transparent;
  border-left-width: 0;
  border-right-color: #00bfff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 .arrow-right {
  border-top: 2px dashed #00bfff;
  position: relative;
}

.main_graph .main_graph_sec1 .main_graph_sec1-4 .arrow-right::after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  right: 0;
  border: 9px solid transparent;
  border-right-width: 0;
  border-left-color: #00bfff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-5 {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
}

.main_graph .main_graph_sec1 .main_graph_sec1-5 .smoll_circle_1 {
  position: absolute;
  right: 0;
  top: 55px;
  width: 25px;
  height: 25px;
  border: 1px solid #00bfff;
  border-radius: 25px;
  background: #fff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-5 .smoll_circle_2 {
  position: absolute;
  right: -10px;
  top: 40px;
  width: 13px;
  height: 13px;
  border: 1px solid #00bfff;
  border-radius: 25px;
  background: #fff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-5 .main_graph_circle {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00bfff;
  background: #f7fbff;
}

.main_graph .main_graph_sec1 .main_graph_sec1-5 .main_graph_circle p {
  font-size: 2.5rem;
}

.main_graph .main_graph_sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1 p {
  font-size: 1.6rem;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-1 {
  height: 85px;
  position: relative;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-1 .arrow-up {
  width: 65px;
  border-top: 2px dashed #00bfff;
  position: absolute;
  bottom: 35px;
  left: 55px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-1 .arrow-up::after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  left: -2px;
  border: 9px solid transparent;
  border-left-width: 0;
  border-right-color: #00bfff;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-1 .arrow-down {
  width: 65px;
  border-top: 2px dashed #00bfff;
  position: absolute;
  bottom: 35px;
  right: 55px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-1 .arrow-down::after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  left: -2px;
  border: 9px solid transparent;
  border-left-width: 0;
  border-right-color: #00bfff;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-1 .text {
  position: absolute;
  right: 0;
  top: 40px;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-2 {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-2 .main_graph_circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00bfff;
}

.main_graph .main_graph_sec2 .main_graph_sec2-1-2 .main_graph_circle p {
  font-size: 2rem;
}

.main_graph .main_graph_sec2 .main_graph_sec2-2 {
  width: 360px;
  height: 187px;
  position: relative;
}

.main_graph .main_graph_sec2 .main_graph_sec2-2 .arrow-up {
  width: 170px;
  border-top: 2px dashed #00bfff;
  position: absolute;
  top: 100px;
  right: -95px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main_graph .main_graph_sec2 .main_graph_sec2-2 .arrow-up::after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  left: 0;
  border: 9px solid transparent;
  border-left-width: 0;
  border-right-color: #00bfff;
}

.main_graph .main_graph_sec2 .main_graph_sec2-2 .arrow-left {
  width: 345px;
  border-top: 2px dashed #00bfff;
  position: absolute;
  right: -10px;
  bottom: 0;
}

.main_graph .main_graph_sec2 .main_graph_sec2-2 .arrow-left::after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  left: -2px;
  border: 9px solid transparent;
  border-left-width: 0;
  border-right-color: #00bfff;
}

.main_graph .main_graph_sec2 .main_graph_sec2-2 .text {
  position: absolute;
  bottom: -55px;
  left: 50%;
  font-size: 1.6rem;
}

.main_graph .main_graph_footer {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_graph .main_graph_footer p {
  font-size: 1.7rem;
  margin-right: 2rem;
}

.main_graph .main_graph_footer a {
  width: 253px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00bfff;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.main_graph .main_graph_footer a:hover {
  -webkit-box-shadow: 0 0 10px 1px #00bfff;
          box-shadow: 0 0 10px 1px #00bfff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.main_company {
  margin: 30vh 0 40vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_company .main_company_audit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_company .main_company_audit h2 {
  margin-bottom: 4.5rem;
  font-size: 4rem;
}

.main_company .main_company_audit h2 span {
  color: #00bfff;
}

.main_company .main_company_Backed {
  margin-top: 18rem;
  margin-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_company .main_company_Backed h2 {
  margin-bottom: 3.5rem;
  font-size: 4rem;
}

.main_company .main_company_Backed h2 span {
  color: #00bfff;
}

.main_company .main_company_Registered {
  padding: 8rem;
  width: 100%;
  border: 2px solid #00bfff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_company .main_company_Registered h2 {
  margin-bottom: 4.5rem;
  font-size: 4rem;
  text-align: center;
  line-height: 1.5;
}

.main_company .main_company_Registered h2 span {
  color: #00bfff;
}

.main_company .main_company_Registered .main_company_Registered_circle_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
}

.main_company .main_company_Registered .main_company_Registered_circle_wrap .main_company_Registered_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 284px;
  height: 284px;
  text-align: center;
  border: 1px solid #00bfff;
  border-radius: 50%;
}

.main_company .main_company_Registered .main_company_Registered_circle_wrap .main_company_Registered_circle p {
  font-size: 2rem;
  line-height: 1.5;
}

.main_company .main_company_law {
  margin-top: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_company .main_company_law h2 {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.main_company .main_company_law .main_company_law_img_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  grid-gap: 30px 20px;
  gap: 30px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.main_governance h2 {
  text-align: center;
  color: #333;
  font-size: 4rem;
}

.main_governance h2 span {
  color: #00bfff;
}

.main_governance .main_governance_container {
  margin-top: 5rem;
}

.main_governance .main_governance_container .main_governance_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 45px;
}

.main_governance .main_governance_container .main_governance_header .main_governance_header_btn {
  height: 55px;
  line-height: 55px;
  text-align: center;
  border: 1px solid #f0f0f1;
  border-radius: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  cursor: pointer;
}

.main_governance .main_governance_container .main_governance_header .main_governance_header_btn h2 {
  font-size: 2rem;
  color: #888;
}

.main_governance .main_governance_container .main_governance_header .main_governance_header_btn:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 191, 255, 0.4);
          box-shadow: 0 0 5px 1px rgba(1, 191, 255, 0.4);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.main_governance .main_governance_container .main_governance_header .main_governance_header_btn:visited {
  border: 1px solid #00bfff;
}

.main_governance .main_governance_container hr {
  height: 1px;
  margin: 1rem 0;
  border-top: 1px solid #00bfff;
}

.main_governance .main_governance_container .main_governance_table_container {
  border: 1px solid #f0f0f1;
  border-radius: 10px;
}

.main_governance .main_governance_container .main_governance_table_container .main_governance_table_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem 5rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f0f0f1;
}

.main_governance .main_governance_container .main_governance_table_container .main_governance_table_header p {
  font-size: 1.8rem;
}

.main_governance .main_governance_container .main_governance_table_container .main_governance_table_body {
  margin: 0 2.5rem;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f0f0f1;
  cursor: pointer;
}

.main_governance .main_governance_container .main_governance_table_container .main_governance_table_body p {
  margin: 0 2.5rem;
  font-size: 2rem;
}

.main_governance .main_governance_container .main_governance_table_container .main_governance_table_body:nth-child(6) {
  border-bottom: none;
}

.main_governance .main_governance_container .main_governance_table_container .main_governance_table_body:last-child {
  border-bottom: none;
}

.main_governance .main_governance_more {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 2rem;
}

.main_governance .main_governance_more p {
  font-size: 2rem;
  border-top: 1px solid #f0f0f1;
  cursor: pointer;
}

footer {
  width: 1200px;
  height: 120px;
  margin: 120px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

footer .footer_link_container .footer_lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_link_container .footer_lang img {
  width: 21px;
  height: 21px;
}

footer .footer_link_container .footer_lang p {
  font-size: 1.5rem;
}

footer .footer_link_container .footer_lang .footer_lang_wrap {
  width: 101px;
  height: 38px;
  border-radius: 38px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_link_container .footer_lang .footer_lang_wrap:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 191, 255, 0.4);
          box-shadow: 0 0 5px 1px rgba(1, 191, 255, 0.4);
}

footer .footer_link_container .footer_lang .footer_lang_wrap div {
  width: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

footer .footer_link_container .footer_lang .footer_lang_eng {
  position: absolute;
  top: -70px;
  display: none;
}

footer .footer_link_container .footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_link_container .footer_link .footer_link_img {
  width: 38px;
  height: 38px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.5rem;
  cursor: pointer;
}

footer .footer_link_container .footer_link .footer_link_img img {
  width: 24px;
  height: 24px;
}

footer .footer_link_container .footer_link .footer_link_img:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 5px 1px rgba(1, 191, 255, 0.4);
          box-shadow: 0 0 5px 1px rgba(1, 191, 255, 0.4);
}

footer p {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */